#snowdenquote {
  color: white;
  z-index: 1;
  text-align: center;
}

#snowdenpic {
  z-index: -1;
}

.bgimg {background-image: url("/pics/matrix.gif") }

.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

