#snowdenquote {
  color: white;
  z-index: 1;
  text-align: center;
}
body,
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
body,
html {
  height: 100%;
}
p {
  line-height: 2;
}

#snowdenpic {
  z-index: -1;
}

.bgimg {
  background-image: url("/pics/matrix.gif");
}

.bgimg,
.bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
}
